#whatWeDoCarousel {
    display: table;
    margin: 0 auto;
    overflow: auto;
}

.carousel-inner {
    margin-bottom: 50px;
}

.carousel-indicators.whatWeDo {
    font-size: 0.1em;
    letter-spacing: 3em;
    border-color: #000;
}

.carousel-indicators li {
    border-color: #000;
}

.carousel-indicators .active {
    background-color: #14c269;
    border-color: #14c269;
}

.carousel-control.left.whatWeDo, .carousel-control.right.whatWeDo{
	background: none;
	color: grey;
	border: none;
    
    position: absolute; /* already here */
    top: -15%;  /* Was top: 40% */
}

.carousel-control.left {
    margin-left: -5%;
}

.carousel-control.right {
    margin-right: -2%;
}

span.glyphicon.custom {
    font-size: 3em;
    margin-bottom: 40px !important;
}

span.glyphicon.custom:hover {
    color: #14c269;
}

/*DELETE */
h1 {
    text-align: center;
}

body {
    background-color: orange;
}
