#banner-text {
    padding-top: 18%;
    font-size: 45px;
    text-transform: none;
    font-weight: 400;
    line-height: 130%; 
    margin-right: 0;
    text-align: right;
    padding-right: 50px;
    
}

#banner-text-small {
    font-size: 24px;
    margin-right: 0;
    text-align: right;
    max-width: 90%;
}

.learn-more {
    font-size: 24px;
    padding-bottom: 15%;
    font-weight: 700;
    margin-right: 50px;
    margin-top: 20px;
}

.btn-custom {
    background: none;
    padding: 12px 22px;
    border: 2px solid #14c269;
    color: #14c269;
    border-radius: 2px;
}

.btn-custom:hover, .btn-custom:focus {
    background-color: #14c269;
    color: #fff;
    border-radius: 2px;
    text-decoration: none;
}