.jumbotron {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: url(../img/header/black_bg.gif);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    
    transition: background 1.5s linear;
    overflow: auto;
    resize: both;
}

.container {
    margin: 0 0;
    padding: 0 0;
}